<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="./styles.css">
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script type="text/javascript"></script>
	
	<style>
		* {
			margin: 0;
			box-sizing: border-box;
		}
		#app {
			width: 400px;
			background-color: white;
			border-color: black;

			margin: 25px auto;
			padding: 25px;
		}
	</style>

</head>
<body>
	<nav>
    	<div class="nav-wrapper orange">
      		<a href="https://www.youtube.com/watch?v=6n3pFFPSlW4" class="brand-logo center">Shopping list</a>
    	</div>
  </nav>

	<div id="app">
				<input type="text"  @keypress="typing=true" placeholder="What do you want to do?" v-model="todo" @keyup.enter="createTodo()" ></input>
				
		<div class="collection">
			<row 
				v-for="(item, index) in items"
				v-bind:item="item"
				v-bind:index="index"
				v-on:row-item="deleteTodo"
			></row>
		</div>
				
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		
		//component for itemrow of the itemlist
		
		Vue.component('row', {
			props: ['item', 'index'],
			template: `
			<div class="collection-item">
				<span>{{item}}</span>
				<div v-on:click="$emit('row-item', item)" class="secondary-content">
					<i class="material-icons red-text">close</i>
				</div>
			</div>
			`
		})
		
		let app = new Vue({
			el: '#app',
			data: { 
				deleteid:'',
				todo: '',
				items: [],
				typing: false

			},
		
			methods: {
				createTodo(){
					console.log(this.todo);
					axios.post('/add', {todo: this.todo, done: false})
					.then((response)=>{
						console.log(response);
						
					}).catch((error) => {
						console.log(error);
					})
					app.clearTodo();
					app.fetchTodo();

				},

				

				fetchTodo() {
					console.log("function triggered")
					// Make a request for a user with a given ID
					axios.get('/load')
					.then(function (response) {
						for(var i = 0; i< response.data.length; i++){
							app.items.push(response.data[i].todo);
							console.log(response.data[i].todo);

						}
					})
					.catch(function (error) {
						// handle error
						console.log(error);
					})
				},
				clearTodo(){
					app.items=[];
				},
				deleteTodo(deleteid) {
					console.log("täällä "+ deleteid);

					axios.post('/delete', {todo: deleteid})
					.then((response)=>{
						console.log(response);
						
					}).catch((error) => {
						console.log(error);
					})
					app.clearTodo();
					app.fetchTodo();
				}
				
			},
			mounted() {
				console.log("function triggered")
					// Make a request for a user with a given ID
					axios.get('/load')
					.then(function (response) {
						for(var i = 0; i< response.data.length; i++){
							app.items.push(response.data[i].todo);
							console.log(response.data[i].todo);

						}
					})
					.catch(function (error) {
						// handle error
						console.log(error);
					})
					

			}
				
			
		});
	</script>
</body>
</html>